################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/EntityModel/bin/Debug/net5.0
/EntityModel/obj
/FirstEFCoreSample/obj
/FirstEFCoreSample/bin/Debug/net5.0
/.vs
/HL7Demo/obj
/HL7Demo/bin/Debug/net5.0
/ScaffMode/obj
/ScaffMode/bin/Debug/net5.0
